* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  letter-spacing: 0.8px;
}

/* body{
  cursor: url("./images/cursor.png"), auto;
} */

/* For Chorme and others */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Only FireFox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor{
  color: green !important;
}

.redColor{
  color: red !important;
}
